<wf-cabecera></wf-cabecera>
<main class="container-fluid">
  <section class="widgets row">
    <ul class="widgets-list list-unstyled col">
      <wf-widget-transferencia class="widget"></wf-widget-transferencia>
      <wf-widget-espacio class="widget"></wf-widget-espacio>
      <wf-widget-buzones class="widget"></wf-widget-buzones>
      <wf-widget-ftp class="widget"></wf-widget-ftp>
      <wf-widget-bd class="widget"></wf-widget-bd>
      <wf-widget-firewall class="widget"></wf-widget-firewall>
    </ul>
  </section>
</main>
<footer class="pie container-fluid">
  <div class="row">
    <div class="col">Copyright 2019</div>
  </div>
</footer>
