<header class="cabecera container-fluid">
  <div class="row">
    <div class="logo col-1">
      <img src="assets/logo.svg">
    </div>
    <div class="cabecera-icono col-11">
      <div class="hamburguesa">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
